[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
beautifulsoup4 = "==4.9.1"
requests = "==2.24.0"
pymongo = "==3.10.1"
passlib = "==1.7.2"
python-dotenv = "*"

[requires]
python_version = "3.8"
